<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        Hi, Rishabh
      </h1>
      
      <hr>
      
      <app-servers></app-servers>
      <!-- <div app-server></div> -->
      <!-- <div class="app-servers"></div> -->
    
      <hr>
      <app-assign2></app-assign2>
      <hr>
      <app-app-server-element></app-app-server-element>
      <hr>

      <p appBasicHighlight>
        rishabh is working
      </p>

      <p appNewDirect [defaultColor]="'yellow'">
        rishabh is working
      </p>
      

      <hr>
      <app-new-account></app-new-account>
      <hr>
      <app-account
        *ngFor="let acc of this.account; let i = index"
        [account]="acc"
        [id]="i"></app-account>
      <hr>
      
    </div>
  </div>
</div>

