<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        Hi, Rishabh
      </h1>
      
      <!-- routing -->
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <ul class="nav nav-tabs">
              <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
              <li role="presentation" routerLinkActive="active"><a routerLink="/servers">Servers</a></li>
              <li role="presentation" routerLinkActive="active"><a [routerLink]="['/users']">Users</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>

      <!-- observable -->
      <hr>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
              <a [routerLink]="[{outlets: {'observing' : 'O'}}]">Home</a> |
              <a [routerLink]="[{outlets: {'observing' : ['O', 'user', 1]}}]">
                User 1
              </a>
              |
              <a [routerLink]="[{outlets: {'observing' : ['O', 'user', 2]}}]">
                User 2
              </a>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
              <router-outlet name='observing'></router-outlet>
            </div>
          </div>
        </div>
      <hr>
        
      <!-- forms -->
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              <div id="user-data">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" 
                    id="username" 
                    class="form-control"
                    ngModel
                    name="username"
                    required>
                </div>
                <button class="btn btn-default" type="button">Suggest an Username</button>
                <div class="form-group">
                  <label for="email">Mail</label>
                  <input type="email" 
                    id="email" 
                    class="form-control"
                    ngModel
                    name="emaiL"
                    required
                    email>
                </div>
              </div>
              <div class="form-group">
                <label for="secret">Secret Questions</label>
                <select   
                  id="secret" 
                  class="form-control"
                  ngModel
                  name="secret">
                  <option value="pet">Your first Pet?</option>
                  <option value="teacher">Your first teacher?</option>
                </select>
              </div>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>     

      <hr>
      <app-servers></app-servers>
      <!-- <div app-server></div> -->
      <!-- <div class="app-servers"></div> -->
    
      
      <hr>
      <app-assign2></app-assign2>
      <hr>
      <app-app-server-element></app-app-server-element>
      <hr>

      <p appBasicHighlight>
        rishabh is working
      </p>

      <p appNewDirect [defaultColor]="'yellow'">
        rishabh is working
      </p>
      

      <hr>
      <app-new-account></app-new-account>
      <hr>
      <app-account
        *ngFor="let acc of this.account; let i = index"
        [account]="acc"
        [id]="i"></app-account>
      <hr>

    </div>
  </div>
</div>

